extends layout

block content
  .main-wrapper
    .heading
      h1 Postalicious
    .inputs
      .method.child-inputs
        .method-dropdown.methods
          h2 Method
          form
            select.http-verb( name="http-verbs")
              option( value="GET")
                | GET
              option( value="POST")
                | POST
              option( value="PUT")
                | PUT
              option( value="DELETE")
                | DELETE
        .method-host.methods
          h2 Host
          .host-input
            input( id="host-url", type="text" name="host-name" placeholder="enter url here...")
      .query.child-inputs
        h2 Query Parameters
        .form-key-value
          .key-value-pairs
            input.query-data( type="text" name="key1" placeholder="key" value="key1")
            input.query-data( type="text" name="value1" placeholder="value" value="value1")
          .key-value-pairs
            input.query-data( type="text" name="key2" placeholder="key" value="key2")
            input.query-data( type="text" name="value2" placeholder="value" value="value2")
          .key-value-pairs
            input.query-data( type="text" name="key3" placeholder="key" value="key3")
            input.query-data( type="text" name="value3" placeholder="value" value="value3")
      .headers.child-inputs
        h2 Headers
        .form-key-value
          .key-value-pairs
            input.headers-data( type="text" name="key4" placeholder="key" value="key4")
            input.headers-data( type="text" name="value4" placeholder="value" value="value4")
          .key-value-pairs
            input.headers-data( type="text" name="key5" placeholder="key" value="key5")
            input.headers-data( type="text" name="value5" placeholder="value" value="value5")
          .key-value-pairs
            input.headers-data( type="text" name="key6" placeholder="key" value="key6")
            input.headers-data( type="text" name="value6" placeholder="value" value="value6")
    .buttons
      .request-btn
        button(onclick="buildRequest()")
          | Build Request
      .send-btn
        button
          | Build and Send
    .bottom-section
      .bottom-left
        .body-section
          h2 Body
          textarea(rows="10" cols="50")
      .bottom-right
        .btm-rt-tabs
          button.tablinks(onclick="selectTab( event, 'Request' )")
            | Request
          button.tablinks(onclick="selectTab( event, 'Response' )")
            | Response
        .btm-rt-display
          #Request.tabcontent
            | This content displays the request
          #Response.tabcontent
            | This content displays the response
